.item-container {
    margin-top: 50px;

    .item-info__details {
        margin-top: 25px;
    }

    .item-info__summary {
        margin-top: 25px;

        .row {
            margin-top: 10px;
        }
    }

    .col-12 {
        margin-top: 50px;
    }
}
